.imagen {
    height: 5em;
    width: 5em;
}



.filaTabla{
    border: inset;
}
.tabraTitulo{
    border-bottom: solid;
}

.formu {
   
    margin: 0 auto;
    position: relative; 
}
.formu #contact {
    border-radius: 10px;
    background: #F9F9F9;
    padding: 25px;
    margin: 50px 0;
    width: 100% !important;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
}

.rowAcomodar{width: 50% !important;}

.formu #contact h3, .formu #contact .h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px; 
}
.formu #contact h4, .formu #contact .h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 20px;
    font-weight: 400; 
}
.formu fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%; 
}
.formu #contact input[type="text"],
.formu #contact input[type="email"],
.formu #contact input[type="tel"],
.formu #contact input[type="comentario"],
.formu #contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px; 
}
.formu #contact input[type="text"]:hover,
.formu #contact input[type="email"]:hover,
.formu #contact input[type="tel"]:hover,
.formu #contact input[type="comentario"]:hover,
.formu #contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa; 
}
.formu #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none; 
}
button[type="submit"] {
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    border: none;
    background: #474747;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px; 
}
button[type="submit"]:hover {
    background: #0ba532;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out; 
}

.formu #contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: rgb(6, 165, 27);
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 17px; }

.formu #contact button[type="submit"]:disabled{
    background: #6e6e6e;}


button[type="alerta"] {
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    border: none;
    background: #474747;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px; 
}
button[type="alerta"]:hover {
    background: #ff0000;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out; 
}
button[type="alerta"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); 
}

.formu .copyright {
    text-align: center; 
}
.formu #contact input:focus,
.formu #contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa; 
}
.formu ::-webkit-input-placeholder {
    color: #888; 
}
.formu :-moz-placeholder {
    color: #888; 
}
.formu ::-moz-placeholder {
    color: #888; 
}
.formu :-ms-input-placeholder {
    color: #888; 
}
.contenedorTabla {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    grid-gap: 2em;
    gap: 2em;
    align-items: baseline;
    justify-content: center;
    max-width: 900px;
    width: 100%;
    position: relative; 
}

.listaCarrito {
    border-radius: 10px;
    background: #212529;
    color: white;
    padding: 25px;
    margin: 50px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
}
.vacioComprado{
    padding: 300px;
}
.contenedorListaOrden{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}