.producto {
    flex: auto;
    font-size: 22px !important;
    margin-bottom: 8px;
    margin-right: 15px;
}

.price {
    display: inline-block;
    line-height: 1em;
    overflow: visible;
    font-weight: 400;
    font-size: 36px;

}

.detalleProducto {
    border-radius: 8px;
    font-size: 14px;
    padding: 24px 16px;
    border: 1px solid rgba(0, 0, 0, .1);
    max-width: 318px;
    margin: 10px;
    float: right
}

.fa-cart-plus {
    background: #0652DD;
}

.addtocart {
    display: block;
    border: none;
    position: relative;
    background: #5e92f3;
    width: 100%;

}

.pretext {
    color: #fff;
    margin-top: 5px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
}

.comprar {

    background-color: blue;
}

.count {
    margin-top: 30px
}


.number {
    margin: 100px;
}

.minus,
.plus {
    width: 20px;
    background: #f2f2f2;
    border-radius: 4px;
    padding: 8px 5px 8px 5px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.number-input {
    height: 34px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}