.App {
  text-align: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgb(165, 165, 165) 15%,
    rgb(109, 109, 109) 30%,
    rgb(41, 41, 41) 45%,
    rgb(0, 0, 0) 100%
  );
  position: relative;
  background-size: cover;
}

.logo:hover{
  transform: scale(1.5);
  transition: all 0.5s ease;
}
header {
  position: relative;
  z-index: 501;
  width: 100%;
  background: transparent;
}
footer{
  margin-top: 75px;
  box-shadow: 0px 0px 30px 20px #8d0000;
  padding: 20px;
}

.videofondo{
  min-height: 100%;
  min-width: 100%;
  width: auto;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.nav-item:hover{
  transform: scale(1.2);
  transition: all 0.5s ease;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
nav .espacio {
  margin-left: 10px;
  margin-bottom: 2px; 
}
nav .espacio:focus {
  box-shadow: 0 0 0 0.05rem; 
}
nav li :hover {
  color: black;
  animation-duration: calc(8s / 8);
  animation-name: aparecer; 
  transform: scale(1.2);
  transition: all 0.5s ease;
}
nav .imagenLogo2 {
  height: 30px;
  margin-right: 10px;
  margin-left: 15px; 
}
nav .menuEspacio {
  padding-left: 10px;
  margin-top: 5px; 
}
nav .menuMin {
  padding: 0.3rem 0.5rem; 
}
.carrito{
  height: 30px;
  margin-right: 10px;
  margin-left: 15px; 
}
.carrito:hover{
  transform: scale(1.2);
  transition: all 0.5s ease;
}

.menu--fondo {
justify-content: space-between;
}

.menu--Centrado {
text-align: center; }
.contador{
 
    display: contents;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #000000;
}
a {
  color: black;
  text-decoration: menu;
  font-weight: bold;
  font-size: 20px; }

a :hover {
  color: #616161; }

.card a :hover {
  color: #c7c7c7; }
.cargando{
  padding: 500px;
}
