body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Menu{                                             /* Menu */
  display:flex;
  width: 100%;
  margin:0% auto;
  top: 1px;
  --osama:15px;                                /* alto del menu */
  --osama2:1px 5px 10px 1px;                   /* forma Menu */
  --osama4:5px 5px 7px 1px rgb(0 0 100 / 50%); /* sombra */
  --osama3:rgb(255, 255, 255);                 /* Fuente */
  --osama5: 0px 10px 2px 10px;                 /* Submenu */
  padding: 0%;
  list-style: none;
}
a{
  color:var(--osama3);
  text-decoration:menu;
  font-weight: bold;
}

.m1, .m2, .m3, .m4, .m5, .m6{
  background-color: #3d3d3d;
  padding:var(--osama);         /* llamo variable de arriba */
  margin:var(--osama2);
  flex-grow:.5;
  border-radius:var(--osama2);
  transition-duration: .2s;
  text-align:center;
}
.m7, .m8{
  background-color: #3d3d3d;
  padding:var(--osama);         /* llamo variable de arriba */
  margin:var(--osama5);
  flex-grow:.5;
  border-radius:var(--osama5);
  transition-duration: .2s;
  text-align:center;
}

.m1:hover{
  background-image: linear-gradient( 142deg, rgb(255, 0, 0), transparent);
  padding:var(--osama);
  margin:var(--osama2);
  flex-grow:2;
  transition-duration: .5s;
  box-shadow: var(--osama4);
}
.m2:hover{
  background-image: linear-gradient(  178deg, rgb(0, 0, 0), transparent);
  padding:var(--osama);
  margin:var(--osama2);
  flex-grow:2;
  transition-duration: .5s;
  box-shadow: var(--osama4);
  
}
.m3:hover{
  background-image: linear-gradient(  178deg , rgb(0, 0, 0), transparent);
  padding:var(--osama);
  margin:var(--osama2);
  flex-grow:2;
  transition-duration: .5s;
  box-shadow: var(--osama4);
}
.m4:hover{
  background-image: linear-gradient(  178deg, rgb(0, 0, 0), transparent);
  padding:var(--osama);
  margin:var(--osama2);
  flex-grow:2;
  transition-duration: .5s;
  box-shadow: var(--osama4);
}
.m5:hover{
  background-image: linear-gradient(  207deg, rgb(0, 0, 0), transparent);
  padding:var(--osama);
  margin:var(--osama2);
  flex-grow:2;
  transition-duration: .5s;
  box-shadow:var(--osama4);
}
.m6:hover{
  background-image: linear-gradient(  207deg, rgb(0, 0, 0), transparent);
  padding:var(--osama);
  margin:var(--osama2);
  flex-grow:2;
  transition-duration: .5s;
  box-shadow:var(--osama4);
}
.m7:hover{
  background-image: linear-gradient(  207deg, rgb(0, 0, 0), transparent);
  padding:var(--osama);
  margin:var(--osama5);
  flex-grow:2;
  transition-duration: .5s;
  box-shadow:var(--osama4);
}
.m8:hover{
  background-image: linear-gradient(  207deg, rgb(0, 0, 0), transparent);
  padding:var(--osama);
  margin:var(--osama5);
  flex-grow:2;
  transition-duration: .5s;
  box-shadow:var(--osama4);
}

.menuFijo{                                   /* Menu Fijo */
  position: sticky;
  top: 0;
  left: 0;
}

#menuli {
  display:unset;
  position:relative;
  font-size: 14px
}

nav ul ul {
  position: absolute;
  display: none;
}
nav ul ul li {
  display: block;
}
nav ul li:hover ul {
  display:block;
}
